h1{
<<<<<<< HEAD
=======
    background-color: yellowgreen;
>>>>>>> feature1
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-decoration: underline;
<<<<<<< HEAD
}
=======
}

>>>>>>> feature1
